<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs5Hkjux6maECSzZv0KbOhp_6NSWBrjnA</string>
	<key>GCM_SENDER_ID</key>
	<string>711292400554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-1c1ce</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-1c1ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711292400554:ios:7d3c56c4b8ce27fcde31d3</string>
</dict>
</plist>